@model CMCSApp.Models.Claim
@{
    Layout = "_Layout";
}
<h2>Claim Submitted | Confirmation</h2>

<div class="confirmation">
    <p>Hours Worked: <strong>@Model.HoursWorked Hrs.</strong></p>
    <p>Hourly Rate: <strong>R@Model.HourlyRate / hr</strong></p>
    <p>Claim Month: <strong>@Model.Month</strong></p>
    <p>Notes: @Model.Notes</p>
    <p>Claim ID: <strong>@Model.ClaimId</strong></p>
</div>

<div style="margin-top:10px">
    <a class="btn btn-primary" href="/Lecturer/Upload?id=@Model.ClaimId">Upload Files</a>
    <a class="btn btn-secondary" href="/Lecturer/Fill">Go Back</a>
</div>
